<link rel="stylesheet" type="text/css" href="points/point.css">

<div id="main_vid" ng-controller="pointController" class="container" >
    <h1 id="h1_title">
        Find Your Next Location
    </h1>
    <div id="points_div"  >
        <div class="image_class" ng-repeat="point in points_arr">
            <h3 class="name_user_h3">{{point.name}}</h3>
            <img class="image_id" ng-src="{{point.picture}}" ng-click="click_image()" height="280" width="320"></img>   
        </div> 
    </div>
</div>