body {
    background-color:white;
    background-size: unset;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#h1_title{
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 32;
    opacity: 0.6;
    font-size: 50px;
    background-color: antiquewhite;
}

#name_user_h3{
    text-align: center;
    font-size: 25px;
    padding: 5%;
}

#points_div{
    margin-left: 5%;
    background-color: black;
}

#image_id{
    margin: 20px;
}

.image_class{
    float: left;
    margin: 50px;
    background-color:eee;
}