body {
    background-color:white;
    background-size: unset;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#h1_title{
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 32;
    opacity: 0.6;
    font-size: 50px;
    background-color: antiquewhite;
}

#name_user_h3{
    text-align: center;
    font-size: 25px;
    padding: 5%;
}

#points_div{
    margin-left: 5%;
    background-color: black;
}

#image_id{
    margin: 20px;
}

.image_class{
    float: left;
    margin: 50px;
    background-color:eee;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #category{
    
  }
  
  #aaa{
    float: inline-start;
    margin-right: 50%;
    font-size: 23px;
  }

  #nameP{
    font-size: 28px;
  }

  #review_rank{
      float: inline-start;
  }