<link rel="stylesheet" type="text/css" href="favorites/favorites.css">

<div id="main_vid" ng-controller="favoritesController" class="container" >
    <h1 id="h1_title">
        Favorites
    </h1>
    <div id="sortBy">
    <select  name="category" id="category" ng-model="container.category" ng-options="c.category for c in categories" >
        </select><br><br>
    <input type="submit" id="submit" ng-click="sort()" value="show category" />
    <input type="submit" id="submit1" ng-click="sortByRank()" value="sort by rank" />

    </div>
    <div id="points_div"  >
        <div class="image_class" id = "aaaa" mg-model = "container.show" ng-bind-html="points_arr" ng-repeat="point in points_arr">
            <div id ="aaaa1">
                    <input type="submit" id="submitLeft"  data-ng-click="dragAndDrop(point.name)" value="Left" />
                    <input type="submit" id="submitRight" data-ng-click="dragAndDrop(point.name)" value="Right" />
                <h3 id="abc" class="name_user_h3">{{point.name}}</h3>
                <img id="{{point.id}}" src="/images/star.png" ng-click="imgStar(point.name)" width="60px" height="60px"></img>
            </div>
            <img id="{{point.id}}" class="image_id" ng-src="{{point.picture}}" data-ng-click="clickMe(IsDisplay,$event,point.name)" height="280" width="320"></img>
            <!-- <input type="submit" id="fav" ng-click="" value="Add to your favorites" /> -->
        </div>
    </div>
    <div id="myModal" ng-show="IsDisplay" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="nameP">
                     {{showPoint.name}}
                </p>
                <div id = "selectImg">
                    <img ng-src="{{showPoint.picture}}" id="img_getSelected" height="280" width="360"></img>
                    <p class="aaa">{{pointInfo.description}}</p>
                    <div class="aaa">
                        <p id="infoShow">
                            views : {{pointInfo.views}}<br><br>
                            rank : {{pointInfo.total_rank/5}}% <br><br>
                            category : {{pointInfo.category}} <br><br>
                            reviews : {{recentReview}}<br><br>
                        </p>
                    </div>
                </div>
                <div id ="review_rank">
                    <textarea ng-model ="review_rank.reviewText" id="reviewText" name="comment" placeholder="Your Review"></textarea>
                    <input ng-model="review_rank.rank_text" id="rank_text" type="text" placeholder="rank between 1-5 " pattern="[1-5]+" ng-minlength = "1"/>
                    <input type="submit" id="submit" ng-click="saveReview()" value="save"/>    
                </div>
            </div>
    </div> 
</div>

