body {
   background-color:eee;
   background-size: unset;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

 #teXtOnUs{
    margin-right: 80%;
    margin-left: 40%;
    width: 50%;
    height: 60%;
    font-size: 32;
    
    opacity: 0.6;
 }

 .column {
   float: left;
   padding: 25px;
 }
 
 /* Clear floats after image containers */
 .row::after {
   content: "";
   clear: both;
   display: table;
 }

