
<body ng-controller="homeLoginController">
<link rel="stylesheet" type="text/css" href="home-login/home_login.css">
<!-- load angular -->

<!-- menu -->

<div class="split left">
    <h2 align="center">Saved Point Of Interests</h2>
    <div class="centered">
        <img id="img3" ng-src="{{interest_image1}}" data-ng-click="clickMe(IsDisplay,$event)">
<!--        <img id="img3" ng-src="{{interest_image1}}" onerror="this.onerror=null;this.src='https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'" data-ng-click="clickMe(IsDisplay,$event)">-->
<!--        <img id="img3" ng-src="{{interest_image1}}" onerror="this.onerror=null;this.src='https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'" data-ng-click="clickMe(IsDisplay,$event)" >-->
        <img id="img4" ng-src="{{interest_image2}}" data-ng-click="clickMe(IsDisplay,$event)">
        <h2>Benjamin Disraeli</h2>
        <p>The view of Jerusalem is the history of the world; it is more, it is the history of earth and of heaven.
            </p>
    </div>
</div>

<div class="split right">
    <h2 align="center">Popular Point Of Interests</h2>
    <div class="centered">

        <img id="img1" ng-src="{{popular_image1}}" data-ng-click="clickMe(IsDisplay,$event)" >
        <img id="img2" ng-src="{{popular_image2}}" data-ng-click="clickMe(IsDisplay,$event)">
        <h2>Pico Iyer</h2>
        <p>"I would never call Jerusalem beautiful or comfortable or consoling. But there's something about it that you can't turn away from."</p>
    </div>
</div>

<div id="myModal" ng-show="IsDisplay" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="nameP">
            {{showPoint.name}}
        </p>
        <div id = "selectImg">
            <img ng-src="{{showPoint}}" id="img_getSelected" height="280px" width="360px"></img>
            <p class="aaa">{{pointInfo.description}}</p>
            <div class="aaa">
                <p id="infoShow">
                    views : {{pointInfo.views}}<br><br>
                    rank : {{pointInfo.total_rank/5}}% <br><br>
                    category : {{pointInfo.category}} <br><br>
                    reviews : {{recentReview}}<br><br>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- This section changes as the hashbang changes -->

</body>
</html>